:local

.logoutButton {
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif
}

.phaserContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}

.uiContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  z-index: 500;
}

.uiContainerClosed {
  display: none;
}

.gameUIContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
